[Unit]
Description=percona-telemetry-agent
After=time-sync.target network.target

[Service]
EnvironmentFile=-/etc/sysconfig/percona-telemetry-agent
Type=simple
User=daemon
Group=percona-telemetry
PermissionsStartOnly=true
ExecStart=/bin/sh -c '/usr/bin/percona-telemetry-agent >> /var/log/percona/telemetry-agent.log 2>> /var/log/percona/telemetry-agent-error.log'
Restart=always

[Install]
WantedBy=multi-user.target
