Source: percona-telemetry-agent
Section: utils
Priority: optional
Maintainer: Percona LLC
Version: %{version}
Homepage: https://percona.com

Package: percona-telemetry-agent
Architecture: any
Description: Percona Telemetry Agent gathers information and metrics from Percona products installed on the host.
