#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
PHONY: override_dh_auto_build override_dh_auto_install
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DH_VERBOSE=1

TMP=$(CURDIR)/debian/tmp/

export VERSION=$(shell egrep '^VERSION' VERSION | cut -f 2 -d '=')
export GITBRANCH=$(shell egrep '^GITBRANCH' VERSION | cut -f 2 -d '=')
export GITCOMMIT=$(shell egrep '^GITCOMMIT' VERSION | cut -f 2 -d '=')

%:
	dh $@ --with-systemd

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_auto_test override_dh_compress override_dh_fixperms override_dh_strip:

override_dh_auto_build:
	@echo "RULES.$@"
	export PATH=/usr/local/go/bin:${PATH}
	export GOROOT="/usr/local/go/"
	export GOPATH=${PWD}/build
	export PATH="/usr/local/go/bin:${PATH}:${GOPATH}"
	export GOBINPATH="/usr/local/go/bin"
	mkdir -p build/src/github.com/percona/percona-telemetry-agent
	cp -r `ls | grep -v build` build/src/github.com/percona/percona-telemetry-agent/
ifeq ($(DEB_BUILD_ARCH),arm64)
	cd build/src/github.com/percona/percona-telemetry-agent/ && env GOARCH=arm64 make build
else
	cd build/src/github.com/percona/percona-telemetry-agent/ && env GOARCH=amd64 make build
endif
	touch $@

override_dh_auto_install:
	@echo "RULES.$@"
	mkdir -p $(TMP)
	mkdir -p $(TMP)/default
	mkdir -p /var/log/percona
	cd build/src/github.com/percona/percona-telemetry-agent/bin && cp telemetry-agent $(TMP)/percona-telemetry-agent
	cp -f packaging/conf/percona-telemetry-agent.env  $(TMP)/default/percona-telemetry-agent
	cp -f packaging/conf/percona-telemetry-agent.service $(TMP)/percona-telemetry-agent.service
	cp -f LICENSE $(TMP)/LICENSE
	ls -la $(TMP)

override_dh_systemd_start:
	dh_systemd_enable --name=percona-telemetry-agent percona-telemetry-agent.service
	dh_systemd_start --restart-after-upgrade

override_dh_installlogrotate:
	dh_installlogrotate --name=percona-telemetry-agent packaging/conf/percona-telemetry-agent.logrotate
